{% extends "base.html" %}

		<!--Header Sign Out Button-->
		{% block signout %}
			<li><a href="{{url_for('gdisconnect')}}"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a></li>
		{% endblock %}

{% block deleteMenuItem %}

    <div class="col-md-12 text-center">
        <h3>Are you sure you want to delete {{item.name}}</h3>

        <form action="{{url_for('deleteMenuItem', restaurant_id=item.restaurant_id, menu_id=item.id )}}" method = 'POST'>
            <input type='submit' value='Delete' class="btn btn-danger">
            <a href="{{url_for('restaurantMenu', restaurant_id=item.restaurant_id)}}">Cancel</a>
        </form>
    </div>

{% endblock %}