{% extends "base.html" %}

		<!--Header Sign Out Button-->
		{% block signout %}
			<li><a href="{{url_for('gdisconnect')}}"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a></li>
		{% endblock %}

{% block editRestaurant %}

    <div class="col-md-12 text-center">
        <h1>Edit Restaurant</h1>

        <form action="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}" method = 'post'>
            <p>Name:</p>
                <input type ='text' size='30' name='name' placeholder = '{{restaurant.name }}'>
                <input type='submit' value='Edit' class="btn btn-warning">
            <a href = "{{url_for('showRestaurants')}}"> Cancel </a>
        </form>
    </div>

{% endblock %}