{% extends "base.html" %}

		<!--Header Sign Out Button-->
		{% block signout %}
			<li><a href="{{url_for('gdisconnect')}}"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a></li>
		{% endblock %}

{% block editMenuItem %}

    <div class="col-md-12 text-center">
        <h1>Edit Menu Item</h1>

        <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id )}}" method = 'POST'>
            <p>Name:</p>
            <input type='text' size='30' name='name' placeholder="{{item.name}}">
            <input type='submit' value='Edit' class="btn btn-warning">
            <a href="{{url_for('restaurantMenu', restaurant_id=item.restaurant_id)}}">Cancel</a>
        </form>
    </div>

{% endblock %}