<header id="fh5co-header">

			<div class="container-fluid">
				<div class="row">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
					<ul class="fh5co-social">
                        <li><a href="{{url_for('showLogin')}}"><i class="fa fa-sign-in" aria-hidden="true"></i>Signin</a></li>
    					<li><a href="{{url_for('gdisconnect')}}"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a></li>
					</ul>
					<div class="col-lg-12 col-md-12 text-center">
						<h1 id="fh5co-logo"><a href="{{url_for('showRestaurants')}}">Restaurant Menu App </a></h1>
					</div>

				</div>

			</div>

		</header>