{% extends "base.html" %}

        <!--Header Sign Out Button-->
		{% block signout %}
			<li><a href="{{url_for('gdisconnect')}}"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a></li>
		{% endblock %}


{% block menu %}


<div class="container-fluid">
    <div class="row fh5co-post-entry single-entry">
        <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

            <h2 class="fh5co-article-title animate-box">{{restaurant.name}}</h2>

            <h3><a href="{{ url_for('newMenuItem', restaurant_id = restaurant.id)}}">Add New Menu Item</a></h3>

            <!--MESSAGE FLASHING EXAMPLE -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}

            <div class="alert alert-success" role="alert">
            {% for message in messages %}
              <strong>{{message}}</strong>
              {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <!--Loop over our Menu Items-->
            {% for i in items %}
            <div class="fh5co-post-entry article content-article">
                <blockquote>
                    <p>&ldquo;{{i.name}}&rdquo;</p>
                </blockquote>
            <p>{{i.description}}<cite>&mdash; {{i.price}}</cite></p>

                <button type="button" class="btn btn-warning">
                    <a href="{{ url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}">Edit</a>
                </button>

                <button type="button" class="btn btn-danger">
                    <a href="{{ url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}">Delete</a>
                </button>
            </div>
            {% endfor %}

        </article>
    </div>
</div>

{% endblock %}
