{% extends "base.html" %}

		<!--Header Sign Out Button-->
		{% block sign %}
			<li><a href="{{url_for('disconnect')}}"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a></li>
		{% endblock %}

{% block newRestaurant %}

    <div class="col-md-12 text-center">
        <h1>Add New Restaurant</h1>

        <form action="#" method = 'post'>
            <p>Add Name:</p>
                <input type ='text' size='30' name='name'>
                <input type='submit' value='Create' class="btn btn-success">
        </form>
    </div>

{% endblock %}
